body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}
#mybutton{
    font-size: 300 em;
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
}
#mylabel{
    font-size: 3em;
}