#myh1{
    text-align: center;
}

#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#btncontainer{
     display: flex;
  justify-content: center;
}

.buttons{
    align-items: center;
    padding: 10px 20px ;
    font-size: 1.5em;
    color: white;
    background-color: aquamarine;
    border-radius: 5px;
    cursor: pointer ;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: bisque;
}